:root {
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #ffffffde;
  background-color: #242424;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 54px;
  text-align: center;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.item {
  width: 30%;
  padding: 16px;
  border-radius: 8px;
  background-color: #ffffff50;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.item__top {
  display: flex;
  align-items: start;
}
.item__image {
  margin-right: 8px;
}
.item__image img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 9999px;
}
.item__user a {
  font-size: 14px;
  color: inherit;
}
.item__name {
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
}
.item:not(:last-child) {
  margin-bottom: 30px;
}
